@import '../scss/theme';

.form {

  display: flex;
  box-sizing: border-box;
  flex-direction: column;

  width: 100%;
  margin: 1rem 0;;
  border-radius: 1rem;
  border: 2px solid $primary-color;

  ::placeholder{
    color: $drakColor;
  }
  
  >input {
    height: 2rem;
    margin: 0.5rem;
    padding-left: 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    border-bottom: 2px solid $primary-color;
    color: $drakColor;
    
  }
}

.setup {
  @include flexAlignCenter(space-between);

  height: 2rem;
  margin: 0.5rem;
  font-weight: bold;

  .status {
    @include flexAlignCenter(flex-start);

    label {
        margin-right: 1rem;
        color: lightgray;
    }
    input:checked + label {
      color: $primary-color;
    }
  }
}
