@import '../scss/theme';


.todos {
    
    width: 100%;
    list-style: none;

    box-sizing: border-box;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 0 5px 5px 5px;
    background-color: $base-color;
}

.empty {
    color: #FFF;
    
    margin: 1rem auto;

}