.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-weight: 500;
  transition: margin 0.5s ease;

  &:hover {
    margin-left: -10px;
    margin-right: 10px;
  }

  .badge{
    align-self: start;
    height:1.2rem;
    width: .8rem;
    border-radius: 0 0 5px 0;
  }

  .text {
    flex-grow: 1;
    padding: 5px 5px 5px 10px;
    cursor: pointer;
  }

  section {
    display: flex;
    justify-content: space-around;
    align-self: start;
    font-weight: 500;
    margin: 2px;
    width: 8rem;
    min-width: 8rem;
    height: 2rem;
    text-align: center;

    .status {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 60%;
      border: 1px solid transparent;

      .status-h,
      .status-u {
        padding: 10px 0;
        width: 50%;
        cursor: pointer;
        &:hover {
          font-size: larger;
        }
      }
    }
    .remove {
      width: 40%;
      position: relative;
      font-size: 1.2rem;
      div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);

        .remove-icon:hover {
          font-size: larger;
        }
      }

      color: var(--primary-color);
      cursor: pointer;
    }
  }
}
.is-h-u {
  background-color: #fc8181;
}

.is-h-nu {
  background-color: #f6ad55;
}

.is-nh-u {
  background-color: #63b3ed;
}

.is-nh-nu {
  background-color: #68d391;
}

.is-not-completed {
  color: var(--primary-color);
  section {
    color: var(--primary-color);
    background-color: var(--bg-color-light);
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid var(--primary-color);

    .status-h:active,
    .status-u:active,
    .remove:active {
      color: var(--primary-color-light);
    }
  }
}

.is-completed {
  .text {
    text-decoration-line: line-through;
  }
  background-color: var(--bg-color-light);
  color: var(--bg-color);
  section {
    color: var(--primary-color-light);
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    .status-h:active,
    .status-u:active,
    .remove:active {
      color: var(--primary-color-light);
    }
  }
}
