.todos {
    width: 100%;
    list-style: none;

    box-sizing: border-box;
    margin-bottom: 5px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 0 5px 5px 5px;

    /* border: 2px solid salmon; */
    background-color: lightsalmon;
}