@import './scss/theme';

.App {
  width: 100vw;
  min-width: 360px;

  header {
    width: 360px;
    margin: 0 auto;
    text-align: center;

    h1 {
      margin: 2rem auto;
      font-size: 24px;
      font-weight: bold;
      color: $base-color;
    }
  }
  .todoWapper {
    width: 80%;
    max-width: 25rem;
    margin: 0 auto;
  }
}
