.App {
    width: 100vw;
    min-width: 360px;
}
.App header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.App header h1 {
    margin: 0.5rem;
    padding: 0;

    color:salmon;
}
.todoWapper {
    width: 80%;
    max-width: 25rem;
    margin: 0 auto;
}