:root {
  --primary-color: #4299e1;
  --primary-color-light: #90cdf4;
  --bg-color: #a0aec0;
  --bg-color-light: #edf2f7;
  --border-color: #cbd5e0;
  --white: #ffffff;
  --danger: #fc8181;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
