$base-color: lightsalmon;
$primary-color: salmon;
$drakColor: gray;
$primayBtn: #bfa;

@mixin flexAlignCenter($justifyContent) {
    display: flex;
    justify-content: $justifyContent;
    align-items: center;
}